.l-items {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.l-white {
  background: white;
}

.fa,
.l-info {
  color: #b1b1b1;
  pointer-events: none;
}

.l-selection {
  background: #f6fffb;
  .l-info {
    color: #31393f;
    pointer-events: initial;
  }
  .fa {
    pointer-events: initial;
  }
  .fa-pencil {
    color: #0095ff;
  }
  .fa-trash {
    color: #d65e17;
  }
  .fa-pause-circle-o {
    color: #ffbc00;
  }
  .fa-play-circle-o {
    color: #ffbc00;
  }
  .fa-comments-o {
    color: #1fd824;
  }
  .l-numbering {
    background: #0275d8;
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}

.l-numbering {
  background: #f1f1f1;
  color: #0275d8;
  text-align: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
}
